*,
*:before,
*:after {
    box-sizing: border-box;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?th3dm5');
  src:  url('../fonts/icomoon.eot?th3dm5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?th3dm5') format('truetype'),
    url('../fonts/icomoon.woff?th3dm5') format('woff'),
    url('../fonts/icomoon.svg?th3dm5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
 /*  speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
 

body {
    font-family: 'Montserrat', sans-serif, 'Courgette', cursive;
    font-size: 18px;
    color: #221818;
    background: #e7e9eb;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    background: url("../images/bg-header.jpg");
    background-repeat: repeat-x;
    width: 100%;
}

.header .logo {
    max-width: 50px;
    width: 100%;
    margin: 15px auto;
}



/* burger-menu */

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    right: 30px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #720cc5;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  /* стилизируем контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0px;
    right: -100%;
    max-width: 300px;
    /* height: 100%; */
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #9c9c9c;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }

/* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #720cc5;
     font-weight: 700;
     text-decoration: none;
  }
  .menu__item:hover {
    background-color: #696969;
  }

  /* Открытие и закрытие меню через чекбокс */

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0%;
  }


  /* Стилизация MAIN */

main {
  flex-grow: 1;
}

.centr-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
.story {
  background: url("../images/bg-wood.jpg");
  background-size: cover;
}

.text-story {
  color: #fff;
  text-align: center;
  line-height: 1.77;
  display: flex;
  flex-direction: column;
  padding: 15px; 
  margin-top: 70px;
}

.text-story h1 {
  font-size: 46px;
  line-height: 1.13;
  font-family: 'Courgette', cursive;
  margin-bottom: 15px;
}

.info {
  background: url(../images/bg-texture.png);
}

.card1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card2 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-foto {
  max-width: 400px;
  width: 100%;
  flex-basis: 50%;
  margin: 30px 0;  
}

.text-info {
  line-height: 1.77;
  max-width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 50%;
  margin: 30px 0;
}

.text-info a {
  border: 1px solid #000;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  padding: 0 10px;
}

h2 {
  color: #fd1c18;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 15px;
}

.text-info a:hover {
  background: #9c9c9c;
} 

/* FORM */

.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

.form h2 {
  text-align: center;
  text-transform: uppercase;
}
 
.form input {
  border: 1px solid #9c9c9c;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 15px;
}

.form textarea {
  min-height: 200px;
  height: 100%;
  font-size: 15px;
  border: 1px solid #9c9c9c;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}

.form input:last-child {
  margin: 0 auto;
  padding: 10px 15px;
  border: 2px solid #000;
  border-radius: unset;
  background: #e7e9eb;
  text-transform: uppercase;
  font-weight: 700;
}

.form input:last-child:hover {
  background: #9c9c9c;
} 

/* FOOTER */

.footer {
  border-top: 1px solid #65abab;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.footer .logo {
max-width: 70px;
width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

.contact a {
  border: 2px solid #fd1c18;
  color: #000;
  font-weight: 700;
  text-transform: uppercase; 
  text-decoration: none;
  margin: 0 auto;   
}

.contact h2 {
  text-align: center;
}

.contact p {
  text-align: center;
  margin-bottom: 10px;
}


.social-networks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-networks a {
  font-size: 20px;
  color: #e7e9eb;
  background: #221818;
  text-decoration: none;
  padding: 5px;
  border: 1px;
  border-radius: 100%;
  margin-left: 10px;
} 

.contact a:hover {
  background: #696969;
}

.social-networks li:hover {
  transform: scale(1.3);
}

/* Desktop */


@media (max-width: 860px) {
  .card1 {
    flex-direction: column;
    align-items: center;
    line-height: 1.1;

  }
  .card2 {
    flex-direction: column;
    align-items: center;
    line-height: 1.1;
    
  }
  .product-foto {
    margin: 10px 0;
  }

  .text-info {
    margin: 10px 0;
  }

  .footer .logo {
    width: 25%;
  }
}

@media (max-width: 513px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .contact {
    padding-left: 0px;
    margin-bottom: 10px;
  }
  body {
    font-size: 15px;
  }
  .product-foto {
    width: 80%;
  }  
  .centr-container {
    padding: 0 15px;
  }
  .text-story h1 {
    font-size: 36px;
  }
}

@media (max-width: 430px) {
  body {
    font-size: 10px;
  }
  .text-story h1 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .product-foto {
    width: 60%;
  }
  .info h2 {
    font-size: 12px;
  }
  .social-networks a {
    font-size: 10px;
  }
  .footer .logo {
    width: 15%;
  }
}